<!-- <p>course-card works!</p> -->

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem">
    <div class="card-title text-center"><h5>{{course.description}}</h5></div><hr>
    <img
      width="300"
      class="card-img-top"
      src={{course.iconUrl}}
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        {{course.longDescription}}
      </p>
    </div>
    <button class="btn btn-outline-primary" (click)="onCourseClick()">Enroll</button>
    
  </div>
  
  